.portfolio-large-stats {
  margin-top: 30px;
  margin-bottom: 30px;

  display: flex;
  justify-content: flex-start;
}

.portfolio-large-stats > div {
  padding-right: 30px;
  border-right: 1px solid hsla(210, 100%, 90%, 0.1);
  margin-left: 30px;
}

.portfolio-large-stats > div:first-child {
  margin-left: 0;
}

.portfolio-large-stats > div:last-child {
  border-right: none;
  padding-right: 0;
}

.portfolio-large-stats h2 {
  /* font-weight: 500; */
  color: hsla(0, 100%, 100%, 0.2);
  font-size: 12px;
  margin-top: 2px;
  letter-spacing: 0.8px;
  line-height: 16px;
}