.portfolio-large-stats {
  margin-top: 30px;
  margin-bottom: 30px;

  display: flex;
  justify-content: flex-start;
}

.portfolio-large-stats > div {
  padding-right: 30px;
  border-right: 1px solid #353535;
  margin-left: 30px;
}

.portfolio-large-stats > div:first-child {
  margin-left: 0;
}

.portfolio-large-stats > div:last-child {
  border-right: none;
  padding-right: 0;
}

.portfolio-large-stats h2 {
  color: #777;
  font-weight: 500;
  font-size: 12px;
  margin-top: 2px;
  line-height: 16px;
}