{
  "presets": [["env", {"modules": false}], "react", "stage-0"],
  "sourceMaps": true,
  "plugins": [
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-es2015-classes",
    ["module-resolver", {
      "alias": {
        "@": "./src",
        "~": "./"
      }
    }]
  ],
  "env": {
    "development" : {
      "compact": false
    }
  }
}
