.btn-primary {
  color: white;
  background: hsl(156, 64%, 35%);
}

.btn-primary:hover {
  background: hsl(156, 56%, 23%);
}

.btn-primary:active {
  box-shadow: none;
  color: #444;
  border-color: #222;
  background: #222;
}