.btn {
  position: relative;
  border: none;
  color: #fff;
  background: #383838;
  border-radius: 4px;
  padding: 8px 32px 6px;
  cursor: pointer;
  transition: all .3s;
  outline: none;
}

.btn:hover {
  background: #424242;
}

.btn:active {
  background: #303030;
}