.form-group {
  margin: 30px 0 30px 0;
  padding: 0;
}

.form-group:last-of-type {
  border-bottom: none;
}

.Select.is-focused .Select-control {
  box-shadow: none !important;
  outline: none;
}

.form-group input + button {
  padding: 12px 32px !important;
  top: -1px;
  background: #1E1E1E;
}
 
.form-group input[type="text"],
.Select-control,
.Select.has-value .Select-control {
  background: #3A3A3A;
  border: 2px solid #3A3A3A;
  border-radius: 3px;
  padding: 8px 12px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.6px;
  position: relative;
  transition: .2s;
  outline: none;
  margin-right: 10px;
}

.Select-control,
.Select.has-value .Select-control {
  padding: 6px 12px;
}

.form-group input[type="text"]:hover,
.Select-control:hover,
.Select.is-focused .Select-control,
.Select.is-focused:not(.is-open) > .Select-control {
  background: #464646;
  border: 2px solid #464646;
}

.form-group input[type="text"]:focus,
.Select:hover > .Select-control,
.Select.is-focused > .Select-control {
  color: #fff;
  background: #464646;
  border: 2px solid #464646;
}

.Select-value,
.Select-placeholder {
  padding-top: 8px;
}

.Select-input {
  padding: 0 !important;
}

.Select-input > input {
  outline: none;
  color: #fff !important;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, 
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #fff !important;
}

.Select-menu-outer,
.Select-option {
  background-color: #202020 !important;
  color: #777777;
}

.Select-menu-outer {
  border: none !important;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2), 0 15px 40px rgba(0,0,0,0.6);
}

.Select-option:hover {
  color: #ccc !important;
  background-color: #282828 !important;
}

.Select-option.is-selected {
  color: white !important;
  background-color: #202020 !important;
}

.Select--multi .Select-value {
  margin-top: 4px;
  padding-top: 0;
  margin-left: 0;
  margin-right: 5px;
  border: 1px solid #111;
  background: #111;
}

.Select--multi .Select-value-icon:hover {
  color: #FA4E3B;
  background: #1e1e1e;
}

.Select--multi .Select-value-icon {
  border-right-color: #111;
  color: #555;
}

.Select--multi .Select-value-label {
  padding: 2px 8px;
}

/* Tab List */
.tab-selector {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tab-selector,
.tab-item {
  list-style: none;
}

.tab-item:hover {
  cursor: pointer;
}

.tab-item {
  flex-grow: 1;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.08);
  padding: 2px 24px 1px;
  border-radius: 30px;
  opacity: 0.5;
  margin: 5px;
  text-align: center;
}

.tab-item.selected {
  background: rgba(0,0,0,0.2);
  opacity: 1;
}