.portfolio-settings {
  padding: 32px;
  margin: 0px 20px 0 0;
}

.portfolio-settings h1 {
  color: white;
  letter-spacing: .8px;
  font-size: 26px;
  font-weight: 500;
  margin: 0px 0 0 0;
  padding: 0;
  line-height: 24px;
}

.portfolio-settings h2 {
  margin-bottom: 3px;
  line-height: 1.6em;
  color: #777777;
  font-size: 14px;
  font-weight: 500;
}