.portfolio-settings {
  padding: 32px;
}

.portfolio-settings h1 {
  color: white;
  letter-spacing: .8px;
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 24px;
}

.portfolio-settings h2 {
  margin-bottom: 5px;
  line-height: 1.6em;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}