.portfolio-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
  padding: 10px 10px;
  /* border-bottom: 1px solid #202020; */
  font-weight: 500;
  border: 1px solid transparent;
}

.portfolio-item:hover {
  background: #121212;
  border-radius: 3px;
  cursor: pointer;
}

.portfolio-item .info .title {
  color: #777;
  font-weight: 400;
}

.portfolio-item .info .last-updated {
  font-weight: 400;
  color: #333;
  font-size: 12px;
  margin-top: 3px;
}

.portfolio-item .value {
  color: #777;
  text-align: right;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  margin-top: 1px;
}

.portfolio-item .value .change {
  color: #333;
  margin-top: 2px;
}

.portfolio-item.active {
  background: #191919;
  border-radius: 3px;
  cursor: pointer;
}

.portfolio-item.active .title {
  color: #ededed;
}

.portfolio-item.active .value {
  color: #fff;
}
