.portfolio-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
  padding: 10px 10px;
  /* border-bottom: 1px solid #202020; */
  font-weight: 500;
}

.portfolio-item:hover {
  background: #151515;
  border-radius: 3px;
  cursor: pointer;
}

.portfolio-item.active {
  background: #2083FE;
  border-radius: 3px;
  cursor: pointer;
}

.portfolio-item .info .title {
  color: #fff;
}

.portfolio-item .info .last-updated {
  font-weight: 400;
  color: rgba(255,255,255,0.4);
  font-size: 12px;
  margin-top: 3px;
}

.portfolio-item .value {
  color: #fff;
  text-align: right;
  font-family: 'Roboto Mono', monospace;
}

.portfolio-item .value .change {
  color: #252525;
}
