/* Layout Position */

.layout-item.sidebar {
  grid-area: sidebar;
}

/* Sidebar Display */

.sidebar {
  width: 360px;
  padding: 24px;
  border-right: 1px solid;
}

.sidebar button,
.sidebar .btn {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: none;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s all;
  text-align: center;
  letter-spacing: 0.1px;
  outline: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.sidebar .box {
  padding: 15px;
  border: 1px solid;
}

.sidebar .box h1 {
  line-height: 24px;
  font-size: 18px;
  margin: 0;
  padding: 0 0 15px;
}

/* Default Theme */

.sidebar {
  background: #fff;
  color: #222;
  border-color: #fff;
}

.sidebar .box {
  border-color: #eee;
}

.sidebar button,
.sidebar .btn {
  color: #fff;
  background: #6863CE;
}

.sidebar button:hover {
  background: rgb(66, 63, 126);
}

.sidebar button:active {
  background: #6863CE;
}