.sidebar {
  width: 300px;
  background: #0A0A0B;
  padding: 24px;
}

.sidebar button,
.sidebar .btn {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: none;
  color: white;
  background: hsl(156, 64%, 35%);
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s all;
  text-align: center;
  letter-spacing: 0.1px;
  outline: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.sidebar button:hover {
  background: hsl(156, 56%, 23%);
}

.sidebar button:active {
  box-shadow: none;
  color: #444;
  border-color: #222;
  background: #222;
}