.dashboard {
  margin: 24px;
  padding: 50px 32px;
}

.dashboard h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0px;
}

.dashboard h2 {
  color: #777;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  line-height: 1.6em;
}