.dashboard {
  padding: 32px;
}

.dashboard h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 12px;
}

.dashboard h2 {
  color: #888;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}