@font-face {
  font-family: 'SegoeMDL2';
  src: url("~/fonts/segmdl2-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box
}

body, html {
  background: hsl(0, 0%, 10%);
  color: white;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}

/* Typography */
html, body, input, button {
  font-family: 'Roboto';
  line-height: 1.6;
}

ul,
ol {
  margin-bottom: 1.53rem;
}

h1 {
  font-size: 2.4414rem;
  line-height: 2.7rem;
  margin-bottom: 1.53rem;
}

h2 {
  font-size: 1.9531rem;
  line-height: 2.7rem;
  margin-bottom: 1.53rem;
}

h3 {
  font-size: 1.5625rem;
  line-height: 1.8rem;
  margin-bottom: 1.53rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin-bottom: 1.53rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1.53rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1.53rem;
}

body {
  font-size: 1rem;
  line-height: 1.8;
}

p,
ol,
ul,
pre {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.53rem;
}

h1 {
  font-family: 'Roboto';
  font-weight: 500;
}

a {
  color: rgba(83, 211, 154, 1.0);
  text-decoration: none;
}

a:hover {
  color: #FFF
}

/* Helpers */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Paper */
[class*="MuiDialog-paper"],
[class*="MuiMenu-root"],
.menu-component {
  background: hsl(222, 2%, 17%) !important;
}

/* Buttons */
.btn-border {
  color: rgba(255,255,255,0.5) !important;
  border: 1px solid rgba(255,255,255,0.05) !important;
}

.btn-border:hover {
  color: white !important;
}

/* Header */
.nav-bar,
.draggable {
  -webkit-app-region: drag
}

a,
button,
input,
select,
[class*="Select"],
.tab-selector,
.app-control *,
.account-actions *,
.not-draggable,
.not-draggable * {
  -webkit-app-region: no-drag
}

.nav-bar {
  padding: 0;
  margin: 0;
  background: rgba(0,0,0,0.3)
}

.nav-bar h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
}

/* Navbar Controls */
.nav-bar .account-actions,
.nav-bar .app-controls {
  display: inline-block;
}

.nav-bar .account-actions .btn {
  padding: 4px 10px;
}

.nav-bar .app-controls {
  margin-right: -0.5rem;
}

/* App control */
.app-control {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  left: 0;
  text-align: right;
  background: rgba(0,0,0,0.4)
}

.app-controls [class*="-control"] {
  display: inline-block;
  font-family: 'SegoeMDL2';
  font-size: 12px;
  padding: 8px 14px;
}

.app-controls [class*="-control"]:hover {
  cursor: pointer;
}

.app-controls .app-update {
  position: absolute;
  top: -12px;
  left: -48px;
}

.app-controls .close-control:hover {
  background: #ef5350
}

.app-controls .minimize-control:hover,
.app-controls .fullscreen-control:hover {
  background: rgba(255,255,255,0.1);
}

/* Main Viewport */
.viewport {
  height: 100vh
}

.main-viewport {
  position: fixed;
  padding: 15px;
  top: calc(94px + 28px);
  left: 0;
  right: 0;
  height: calc(100vh - (94px + 28px));
}

/* App Viewport */
.app-viewport {
}

/* Dashboard */
.dashboard-actions {
  margin-bottom: 15px;
}

/* Report Listing */
.report-item {
  padding: 15px !important;
  background: hsl(0, 0%, 17%);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  display: flex;
}

.report-item:hover {
  cursor: pointer;
  background: hsl(0, 0%, 20%);
}

.report-item .report-item-title {
  flex: 1;
}

.report-item .report-item-title .report-name {
  color: white;
  line-height: 32px;
  font-size: 24px;
}

.report-item .report-item-title .report-league {
  color: rgba(255,255,255,0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
}


.report-item .report-item-title .report-meta {
  font-size: 11px;
  color: rgba(255,255,255,0.2);
}

.report-item .report-item-body .report-item-meta {
  text-align: right;
}

.report-item .report-item-body .report-item-meta .amount {
  font-size: 32px !important;
  line-height: 32px;
  text-transform: uppercase;
  color: rgba(97, 98, 97, 1.0);
}

.report-item .report-item-body .report-item-meta .amount.loading {
  height: 20px;
  border-radius: 3px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: reportItemLargeShimmer;
  animation-timing-function: linear;

  background: hsla(0, 0%, 100%, 0.05);
  background-image: linear-gradient(to left, 
    hsla(0, 0%, 100%, 0.05) 0%,
    hsla(0, 0%, 100%, 0.06) 20%,
    hsla(0, 0%, 100%, 0.05) 40%, 
    hsla(0, 0%, 100%, 0.05) 100%
  );
}

.report-item .report-item-body .report-item-meta .amount span {
  color: rgba(97, 98, 97, 1.0)
}

.report-item .report-item-body .report-item-meta .change {
  color: hsla(223, 10%, 100%, 0.2);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
}

.report-item .report-item-body .report-item-meta .change.loading {
  width: 80%;
  height: 20px;
  border-radius: 3px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: reportItemSmallShimmer;
  animation-timing-function: linear;

  background: hsla(0, 0%, 100%, 0.05);
  background-image: linear-gradient(to left, 
    hsla(0, 0%, 100%, 0.05) 0%,
    hsla(0, 0%, 100%, 0.06) 20%,
    hsla(0, 0%, 100%, 0.05) 40%, 
    hsla(0, 0%, 100%, 0.05) 100%
  );
}

/* Report */
.report-screen .report-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.report-screen .report-items {
  margin: 8px 0 !important;
  overflow: auto;
  height: calc(100vh - 292px - 16px - 65px);
  transform: translateZ(0);
  width: 100% !important;
  align-content: flex-start;
}

.paper-box,
[class*="MuiDialog-paper"],
.c414,
[class*="MuiMenu-root"],
.c421 {
  background: hsl(0, 0%, 17%) !important;
}

.report-screen .report-total {
  /* padding-bottom: 32px !important; */
  /* border-bottom: 1px solid hsla(0, 0%, 100%, 0.05); */
  padding: 32px !important;
  background: hsla(0, 0%, 100%, 0.05) !important;
  box-shadow: none !important;
}

.report-screen .report-total-difference {
  display: inline-block !important;
  padding: 2px 8px !important;
  background: hsla(0, 0%, 100%, 0.05);
  border-radius: 3px;
  margin-right: 8px !important;
  margin-left: 54px !important;
  color: hsl(0, 0%, 40%) !important;
}

.report-screen .report-total-difference.up,
.change.up {
  color: rgba(143, 211, 49, 1.0) !important;
}

.report-screen .report-total-difference.down,
.change.down {
  color: rgba(255, 72, 83, 1.0) !important;
}

.report-screen .report-screen-item {
  background: hsl(0, 0%, 13%) !important;
  box-shadow: none !important;
}

.report-form-control {
  margin-top: 16px !important;
}

.report-form-tabs-list {
  margin-bottom: 24px !important;
}

/* MUI */
div[class*="MuiInput-underline"]:before {
  background-color: hsla(0, 0%, 100%, 0.05) !important;
}

span[class*="MuiSwitch-checked"] + div[class*="MuiSwitch-bar"] {
  background-color: hsl(222, 80%, 47%) !important;
}

span[class*="MuiSwitch-checked"] {
  color: hsl(222, 80%, 47%) !important;
}

[class*="MuiTooltip-tooltipBottom"] {
  font-family: 'Roboto';
  margin-top: -10px !important;
}

.app-control [class*="MuiTooltip-popper"] {
  min-width: 200px;
  text-align: center;
}

/* Animations */
@keyframes reportItemLargeShimmer {
  0% { background-position: -298px 0 }
  100% {  background-position: 298px 0 }
}

@keyframes reportItemSmallShimmer {
  0% { background-position: -238px 0 }
  100% {  background-position: 238px 0 }
}

/* Scrollbars */

::-webkit-scrollbar-track {
	border-radius: 3px;
	background-color: rgba(0,0,0,0.05);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(255,255,255,0.08);
}