.item-quantity,
.item-name {
  color: #333;
}

.item-icon {
  text-align: center;
}

.item-quantity,
.item-price,
.item-total {
  text-align: right;
}

.item-price,
.item-total {
  font-family: 'Roboto Mono', monospace;
}

.item-price {
  color: #888;
}

.item-total {
  color: #279D17;
  font-family: 'Roboto Mono', monospace;
}