.portfolio-meta {
  display: flex;
  color: #787A81;
  font-weight: 600;
  font-size: 11px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.portfolio-meta div {
  margin-right: 15px;
}