
.portfolio-header {
  /* background-image: linear-gradient(to bottom, #1e3c72 0%, #1e3c72 1%, #0D1821 100%); */
  background: #282828;
  color: #fff;
  padding: 24px;
  /* min-height: 200px; */
  border-radius: 3px;
  margin-bottom: 24px;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
}

.portfolio-header h3,
.portfolio-header h2,
.portfolio-header h1 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.portfolio-header h1 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 0;
}

.portfolio-header h1 i {
  float: right;
  color: #777;
  cursor: pointer;
}

.portfolio-header h1 i:hover {
  color: #6863CE;
}

.portfolio-header h3 {
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
}

.portfolio-header #portfolio_chart {
  margin: 0 -15px -15px;
}