
.portfolio-header {
  /* background-image: linear-gradient(to bottom, #1e3c72 0%, #1e3c72 1%, #0D1821 100%); */
  background: #171717;
  color: #fff;
  padding: 15px;
  min-height: 200px;
  border-radius: 3px 0 0 0;
}

.portfolio-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
}

.portfolio-header h3,
.portfolio-header h2,
.portfolio-header h1 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.portfolio-header h1 {
  margin-bottom: 5px;
}

.portfolio-header h3 {
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
}

.portfolio-header #portfolio_chart {
  margin: 0 -15px -15px;
}