.app-controls [class*="-control"] {
  display: inline-block;
  font-family: 'SegoeMDL2';
  font-size: 12px;
  padding: 0px 10px;
  color: #aaa;
}

.app-controls [class*="-control"]:hover {
  cursor: pointer;
}

.app-controls .app-update {
  display: inline-block;
  font-size: 12px;
  padding: 0px 10px;
  position: relative;
  top: -1px;
}

.app-controls .close-control:hover {
  background: #ef5350;
  color: white;
}

.app-controls .minimize-control:hover,
.app-controls .fullscreen-control:hover {
  background: rgba(255,255,255,0.1);
}