.login-viewport {
}

.login-viewport .error {
  position: absolute;
  z-index: 101;
  top: 17px;
  left: 0;
  right: 0;
  background: #5f3431;
  text-align: center;
  font-size: 13px;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px black;
  -moz-box-shadow: 0 5px 10px black;
  box-shadow: 0 5px 10px black;
}

.login-viewport .viewport {
  background: rgba(0, 0, 0, 0.7);
}

.login-container {
  width: 300px;
  /* background: #222; */
  border-radius: 3px;
  padding: 0 20px 20px;
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.5); */
  /* color: #222; */
}

.login-container label {
  font-size: 14px;
  font-weight: 500;
}

.login-container .form-input {
  position: relative;
  border: none;
  color: #222;
  background: white;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 8px;
  width: calc(100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.login-container .form-input + p {
  font-size: 0.75rem;
  margin-top: 0;
  color: #888;
  text-align: center;
  /* margin-bottom: 0; */
}

.login-container .btn-primary {
  width: 80%;
  margin: 7px auto 32px;
  display: block;
  /* padding: 12px 8px; */
}

.login-container .btn-primary:hover {
  opacity: 0.6;
}

.login-container .btn-primary:active {
  opacity: 0.9;
}
