.portfolio table {
  border-spacing: 0;
  width: 100%;
  font-size: 13px;
  border-radius: 0 0 3px 3px;
}

.portfolio td + td {
  /* border-left:1px solid #3A3A3A; */
}

.portfolio td, 
.portfolio th {
  border-bottom: 1px solid #2F2F2F;
  background: #282828;
  padding: 10px 25px;
}

.portfolio tr th:first-child {
  border-radius: 3px 0 0 0;
}

.portfolio tr th:last-child {
  border-radius: 0 3px 0 0;
}

.portfolio tbody tr:last-child td {
  border-bottom: none;
}

.portfolio tbody tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}

.portfolio tbody tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}

.portfolio th {
  background: #3A3A3A;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.portfolio th i {
  line-height: 0;
  top: 7px;
  position: relative;
}

.portfolio th + th {
  border-left: 1px solid #3A3A3A;
}

.portfolio tr img {
  max-height: 32px;
  width: auto;
}